<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="address">
         <div class="addressContainer">
                 <div class="innerAddress">
                      <div class="text_address">
                         <h2>Start Your Project with Us</h2>
                      </div>
                      <div class="para_address">
                               <p>Tell us about your vision, and we'll help bring it to life.</p>
                      </div>
                 </div>
                 <div class="innerAddress1">
                    <div class="address_card">
                         <div class="inner_address_card">
                             <p>Address</p>
                         </div>
                         <div class="inner_address_card1">
                              <p>Diamond stone trading and services spc</p>
                         </div>
                         <div class="inner_address_card1">
                                <p>Po box 1280, Pc 111, Central post office, Muscat, Oman</p>
                         </div>
                         <div class="inner_address_card1">
                                 <p>Office no 615, Tower 1, Tathmeer, Muscat hills, Oman</p>
                         </div>
                    </div>
     
                    <div class="address_card1">
                        <div class="phone">
                                <p>Phone</p>
                        </div>
                        <div class="phoneNumber">
                              <p>+968 920 99 729</p>
                        </div>
                    </div>
     
                    <div class="address_card2">
                          <div class="email">
                                      <p>Email</p>
                          </div>
                          <div class="emails">
                                   <p>dst@diamondstonex.com</p>
                          </div>
                    </div>
                 </div>
         </div>

         <div class="addressContainer1">
              
         </div>
    </section>
</body>
</html>