<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <section class="address">
              <div class="address-container"> 
                     <div class="address-content">
                         <div class="getintouch">
                             <div class="get-content">
                                   <p>Get touch with us</p>
                             </div>

                             <div class="get-para">
                                  <p>Tell us about your vision, and we'll help bring it to life.</p>
                             </div>
                         </div>

                         <div class="address-section">
                               <div class="address-section-content">
                                   <p class="a">Address</p>
                               </div>

                                <div class="address-section-content">
                                     <p class="d">Diamond stone trading and services SPC</p>
                               </div>

                                <div class="address-section-content">
                                    <p>Po box 1280, Pc 111, Central post office, Muscat, Oman</p>
                               </div>

                                <div class="address-section-content">
                                     <p>Office no 615, Tower 1, Tathmeer, Muscat hills, Oman</p>
                               </div> 

                               <div class="phone">
                          <div class="phone-con">
                                <p>Phone</p>
                          </div>

                              <div class="phone-con1">
                                 <p>+968 920 99 729</p>
                          </div>
                               </div>

                                  <div class="email">
                                      <div class="email-con">
                                          <p>Email</p>
                                      </div>

                                       <div class="email-con1">
                                          <p>dst@diamondstonex.com</p>
                                      </div>
                               </div> 
                         </div>
                     </div>

                     <div class="address-map">
                      <a href="https://maps.app.goo.gl/XhQQxn71afKWJVSs6" target="_blank" rel="noopener">
                        <img src="./assets/images/Rectangle 142.png" alt="Map location" style="width:100%;border-radius:12px;min-height:350px;object-fit:cover;" />
                      </a>
                     </div>
              </div>
      </section>
</body>
</html>