<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="blogsSection">
       <div class="blogsContainer">
           <div class="blogs_card">
                 <div class="blogs_heading">
                        <h2>Blogs</h2>
                 </div>
                 <div class="blogs_heading1">
                       <p>Expert advice. Practical guides. Inspiring ideas.</p>
                 </div>
           </div>

           <div class="blogs_card1">
               <div class="blog_cards">
                 <div class="blogs_image">
                      <a href="blog-post.html?id=1"><img src="./assets/images/image (11).png" alt=""></a>
                 </div>

                 <div class="blogs_text">
                         <div class="text_cont">
                             <div class="blogRead">
                                   <p>Blog • 10 min read</p>
                             </div>

                             <div class="blogRead1">
                                  <p>May 4, 2025</p>
                             </div>
                         </div>

                         <div class="text_cont1">
                  <h4>How to Choose the Right Marble for Your Project.</h4>
                         </div>


                 </div>
               </div>
             

               <div class="blog_cards">
                        
                <div class="blogs_image">
                    <a href="blog-post.html?id=2"><img src="./assets/images/image (12).png" alt=""></a>
                </div>

                <div class="blogs_text">

                    <div class="text_cont">
                        <div class="blogRead">
                            <p>Blog • 10 min read</p>
                        </div>

                        <div class="blogRead1">
                              <p>May 4, 2025</p>
                        </div>
                    </div>

                    <div class="text_cont1">
                              <h4>Omani Marble: The Ultimate Luxury for Exclusive Spaces</h4>
                    </div>


                </div>

            

               </div>


               <div class="blog_cards">

                <div class="blogs_image">
                    <a href="blog-post.html?id=3"><img src="./assets/images/image (13).png" alt=""></a>
                </div>

                <div class="blogs_text">
                   
                    <div class="text_cont">
                        <div class="blogRead">
                            <p>Blog • 10 min read</p>
                        </div>

                        <div class="blogRead1">
                              <p>May 4, 2025</p>
                        </div>
                    </div>

                    <div class="text_cont2">
                        <h4>What Marble Architecture Says About You</h4>
                    </div>


                </div>

               </div>
           </div>
       </div>
    </section>
    
</body>
</html>