<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="blogs">
  <div class="blogs-slider">
    <div class="blogs-mask">
      <div class="blogs-track">
        <div class="blogs-card" data-blog-id="3">
           <div class="blogs-card-img-wrap">
 <img src="./assets/images/image (13).png" alt="" class="omini-image blog-img">
  <div class="blogs-card-img-gradient"></div>
     </div>
 <div class="blogs-card-content">
    <span class="meta">Blog · 10 min read</span>
    <h3 class="title" style="position: relative; top: 20px;">Omani Marble: The Ultimate Luxury for Exclusive Spaces.</h3>
    <span class="date" style="position: relative; bottom: 75px;">May 6, 2025</span>
    <a href="#" class="read-more">Read blog <img style="width: 24px; height: 24px; position: relative; left: 10%; top: 7px;" src="./assets/images/blog right.png" alt=""></a>
  </div>
        </div>
        <div class="blogs-card" data-blog-id="2">
           <div class="blogs-card-img-wrap">
  <img src="./assets/images/image (12).png" alt="Blog Image" class="blog-img" />
  </div>
  <div class="blogs-card-img-gradient"></div>
  <div class="blogs-card-content">
    <span class="meta">Blog · 10 min read</span>
    <h3 class="title" style="position: relative;top: 20px;">What Marble Architecture Says About You</h3>
    <span class="date">May 6, 2025</span>
    <a href="#" class="read-more">Read blog <img style="width: 24px; height: 24px; position: relative; left: 10%; top: 7px;" src="./assets/images/blog right.png" alt=""></a>
  </div>
</div>
        <div class="blogs-card" data-blog-id="1">
          <div class="blogs-card-img-wrap">
 <img src="./assets/images/image (11).png" alt="" class="blog-img">
     <div class="blogs-card-img-gradient"></div>
     </div>
 <div class="blogs-card-content">
    <span class="meta">Blog · 10 min read</span>
    <h3 class="title" style="position: relative; top: 20px;">How to Choose the Right Marble for Your Project.</h3>
    <span class="date">May 6, 2025</span>
    <a href="#" class="read-more">Read blog <img style="width: 24px; height: 24px; position: relative; left: 10%; top: 7px;" src="./assets/images/blog right.png" alt=""></a>
  </div>
        </div>
        <div class="blogs-card" data-blog-id="3">
           <div class="blogs-card-img-wrap">
 <img src="./assets/images/image (13).png" alt="" class="blog-img">
 <div class="blogs-card-img-gradient"></div>
     </div>
 <div class="blogs-card-content">
    <span class="meta">Blog · 10 min read</span>
    <h3 class="title" style="position: relative; top: 20px;">Omani Marble: The Ultimate Luxury for Exclusive Spaces.</h3>
    <span class="date" style="position: relative; bottom: 75px;">May 6, 2025</span>
    <a href="#" class="read-more">Read blog  <img style="width: 24px; height: 24px; position: relative; left: 10%; top: 7px;" src="./assets/images/blog right.png" alt=""></a>
  </div>
        </div>
        <div class="blogs-card" data-blog-id="2">
          <div class="blogs-card-img-wrap">
  <img src="./assets/images/image (12).png" alt="" class="blog-img">
   <div class="blogs-card-img-gradient"></div>
  </div>
  <div class="blogs-card-content">
    <span class="meta">Blog · 10 min read</span>
    <h3 class="title" style="position: relative;top: 20px;">What Marble Architecture Says About You</h3>
    <span class="date">May 6, 2025</span>
    <a href="#" class="read-more">Read blog  <img style="width: 24px; height: 24px; position: relative; left: 10%; top: 7px;" src="./assets/images/blog right.png" alt=""></a>
  </div>
        </div>
      </div>
    </div>
  </div>
  
            <div class="cursor-dot1">
                <div class="dots1"></div>
                <div class="dots2"></div>
                <div class="dots3"></div>
            </div>
</section>



</body>
</html>