<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <section class="collection">
                   <div class="collection-container">
                       <div class="inner-collection1">
                          <div class="card-container">
                         <div class="card">
                            <div class="image-card">
                             

                                <img src="./assets/images/Im BG 1.png" alt="Imperial">
                                 
                            </div>

                            <div class="content-card">
                                <p>Imperial Beige</p>
                            </div>
                         </div>

                         <div class="card">
                            <div class="image-card">
                                  <img src="./assets/images/Narcissus.png" alt="Narcissus">
                            </div>

                            <div class="content-card">
                                  <p>Narcissus</p>
                            </div>
                         </div>

                         <div class="card">
                            <div class="image-card">
                               <img src="./assets/images/Sahara Beige.png" alt="Sahara Beige">
                            </div>

                            <div class="content-card">
                              <p>Sahara Beige</p>
                            </div>
                         </div>
                          </div>

                          <div class="card-container1">
                               <div class="inner-card-container1">
                                     <p>Sidrah</p>
                               </div>

                               <div class="inner-card-container2">
                                     <p>Inspired by the resilient Sidr tree of Oman, the Sidrah Collection embraces calmness, purity, and organic balance. Featuring warm neutrals and soft fossil traces, these marbles are selected for interiors that seek understated luxury and timeless harmony.</p>
                               </div>

                               <button class="explore">Explore Collection</button>
                          </div>
                       </div>
                   </div>

                   <div class="collection-container">
                    <div class="inner-collection1">
                      
                            <div class="card-container">
                           <div class="card">
                              <div class="image-card">
                                  <img src="./assets/images/desertRose.png" alt="Desert Rose">
                              </div>
  
                              <div class="content-card">
                                  <p>Desert Rose</p>
                              </div>
                           </div>
  
                           <div class="card">
                              <div class="image-card">
                                    <img src="./assets/images/Desert Oasis.png" alt="Desert Oasis">
                              </div>
  
                              <div class="content-card">
                                    <p>Desert Oasis</p>
                              </div>
                           </div>
  
                           <div class="card">
                              <div class="image-card">
                                 <img src="./assets/images/elegent.png" alt="Elegant Gray">
                              </div>
  
                              <div class="content-card">
                                <p>Elegant Gray</p>
                              </div>
                           </div>
                            </div>
  
                            <div class="card-container1">
                                 <div class="inner-card-container1">
                                       <p>Nusoor</p>
                                 </div>
  
                                 <div class="inner-card-container2">
                                       <p>Named after the soaring eagles of Oman, Nusoor captures movement, depth, and architectural boldness. The collection includes marbles with textured finishes, sculptural veining, and dynamic tonal variations — each slab a statement in motion.</p>
                                 </div>
  
                                 <button class="explore">Explore Collection</button>
                            </div>
                         
                    </div>
                   </div>

                   <div class="collection-container">
                    <div class="inner-collection1">
                      
                        <div class="card-container">
                            <div class="card">
                               <div class="image-card">
                                   <img src="./assets/images/Nizwa Beige.png" alt="Nizwa Beige">
                               </div>
   
                               <div class="content-card">
                                   <p>Nizwa Beige</p>
                               </div>
                            </div>
   
                            <div class="card">
                               <div class="image-card">
                                     <img src="./assets/images/White Pearl.png" alt="White Pearl">
                               </div>
   
                               <div class="content-card">
                                     <p>White Pearl</p>
                               </div>
                            </div>
   
                            <div class="card">
                               <div class="image-card">
                                  <img src="./assets/images/Ibri.png" alt="Ibri">
                               </div>
   
                               <div class="content-card">
                                 <p>Ibri</p>
                               </div>
                            </div>
                             </div>
   
                             <div class="card-container1">
                                  <div class="inner-card-container1">
                                        <p>Rimal</p>
                                  </div>
   
                                  <div class="inner-card-container2">
                                        <p>Drawing from the vast Omani desert sands, Rimal embodies the warmth of tradition and the quiet strength of natural stone. Creamy beiges and fossil-rich tones define this collection, evoking timelessness and regional authenticity.</p>
                                  </div>
   
                                  <button class="explore">Explore Collection</button>
                             </div>
                    </div>
                   </div>

                   <div class="collection-container">
                    <div class="inner-collection1">
                        <div class="card-container">
                            <div class="card">
                               <div class="image-card">
                                   <img src="./assets/images/Dyno.png" alt="Dyno">
                               </div>
   
                               <div class="content-card">
                                   <p>Dyno</p>
                               </div>
                            </div>
   
                            <div class="card">
                               <div class="image-card">
                                     <img src="./assets/images/Omani Black.png" alt="Omani Black">
                               </div>
   
                               <div class="content-card">
                                     <p>White Pearl</p>
                               </div>
                            </div>
   
                            <div class="card">
                               <div class="image-card">
                                  <img src="./assets/images/Desert Lace.png" alt="Desert Lace">
                               </div>
   
                               <div class="content-card">
                                 <p>Desert Lace</p>
                               </div>
                            </div>
                             </div>
   
                             <div class="card-container1">
                                  <div class="inner-card-container1">
                                        <p>Layali</p>
                                  </div>
   
                                  <div class="inner-card-container2">
                                        <p>Meaning “nights” in Arabic, Layali explores the richness of contrast - dark bases, bold veining, and luxurious polish. This is a collection of expressive marbles meant to captivate, define, and transform.</p>
                                  </div>
   
                                  <button class="explore">Explore Collection</button>
                             </div>
                    </div>
                   </div>
                 
      </section>
      <div id="collection-details-list"></div>
</body>
</html>