<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
      <section class="vein">
                   <div class="vein-container">
                           <p>From Vein to Vision</p>
                   </div>

                   <div class="vein-container1">
                         <div class="inner-vein">
                            <div class="inner-vein-card">
                                 <div class="inner-vein-card-image">
                                    <img src="./assets/images/quick access.jpg" alt="quick">
                                 </div>

                                 <div class="inner-vein-card-content">
                                     <p>Quarry</p>
                                 </div>
                            </div>

                            <div class="inner-vein-card1">
                                      <p>Direct entry to Oman’s most remote marble deposits—ensuring you secure the rarest, most authentic blocks before anyone else.  </p>
                            </div>
                         </div>

                         <div class="inner-vein">
                               <div class="inner-vein-card">
                                <div class="inner-vein-card-image">
                                  <img src="./assets/images/factory.jpg" alt="quick">
                                </div>
                                <div class="inner-vein-card-content1">
                                  <p>Factory</p>
                              </div>
                               </div>

                               <div class="inner-vein-card2">
                                <p>State-of-the-art finishing and precision cutting under one roof—transforming raw blocks into  flawlessly honed or textured slabs, ready for installation.</p>
                      </div>
                         </div>

                         <div class="inner-vein">
                          <div class="inner-vein-card">
                            <div class="inner-vein-card-image">
                              <img src="./assets/images/bespoke (2).png" alt="quick">
                            </div>

                            <div class="inner-vein-card-content2">
                              <p>Bespoke</p>
                          </div>
                          </div>

                          <div class="inner-vein-card1">
                            <p>Hand-selected slabs, tailored to your design vision—each vein, shade, and dimension curated for that perfect fit on your project.</p>
                  </div>
                         </div>

                         <div class="inner-vein">
                          <div class="inner-vein-card">
                            <div class="inner-vein-card-image">
                              <img src="./assets/images/Logistic.jpg" alt="quick">
                            </div>

                            
                            <div class="inner-vein-card-content3">
                              <p>Logistics</p>
                          </div>
                          </div>

                          <div class="inner-vein-card2">
                            <p>Seamless global delivery from Oman’s quarries to your site—95 % of shipments arrive within  the agreed window, so your schedule stays on track.</p>
                  </div>
                         </div>

                         <div class="inner-vein">
                          <div class="inner-vein-card">
                            <div class="inner-vein-card-image">
                              <img src="./assets/images/Consulting.jpg" alt="quick">
                            </div>

                            <div class="inner-vein-card-content4">
                              <p>Consulting</p>
                          </div>

                           
                          </div>
                          <div class="inner-vein-card2">
                            <p>On-site technical guidance and project support, ensuring a 99 % first-time installation success rate—no surprises, no re-cuts, no delays.</p>
                  </div>
                         </div>
                   </div>


                   <div class="vein-container2">
                       <div class="vein-container2-card">
                           <div class="vein-container2-card-content">
                                    <p>15+</p>
                           </div>
                           <div class="vein-container2-card-content1">
                                   <p>Quarry Access</p>
                           </div>
                       </div>

                       <div class="vein-container2-card">
                        <div class="vein-container2-card-content">
                          <p>5+</p>
                        </div>
                        <div class="vein-container2-card-content1">
                                    <p>Factory Access</p>
                        </div>
                       </div>

                       <div class="vein-container2-card">
                        <div class="vein-container2-card-content">
                              <p>98%</p>
                        </div>
                        <div class="vein-container2-card-content1">
                          <p>Viening & Color Match</p>
                        </div>
                       </div>

                       <div class="vein-container2-card">
                        <div class="vein-container2-card-content">
                             <p>95%</p>
                        </div>
                        <div class="vein-container2-card-content1">
                              <p>On Time Delivery</p>
                        </div>
                       </div>

                       <div class="vein-container2-card">
                        <div class="vein-container2-card-content">
                               <p>100%</p>
                        </div>
                        <div class="vein-container2-card-content1">
                                <p>Success Rate</p>
                        </div>
                       </div>

                       
                   </div>
      </section>
</body>
</html>