<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="Finishes">
        <div class="innerFinishes">
          <div class="paras">
            <h2>Finishes</h2>
            <p class="elevate">Elevate every surface with precision finishes.</p>
            <p class="polished">From polished to honed, explore textures that define <span class="elegance">elegance.</span></p>
          </div>
          <div class="grid2">
            <div class="finishesCard">
              <img src="./assets/images/brushed.png" alt="Brushed" />
              <div class="label"><h4>Brushed</h4></div>
            </div>
            <div class="finishesCard">
              <img src="./assets/images/honed.png" alt="Honed" />
              <div class="label"><h4>Honed</h4></div>
            </div>
            <div class="finishesCard">
              <img src="./assets/images/generic.png" alt="Generic" />
              <div class="label"><h4>Generic</h4></div>
            </div>
            <div class="finishesCard">
              <img src="./assets/images/ribbed.png" alt="Ribbed" />
              <div class="label"><h4>Ribbed</h4></div>
            </div>
            <div class="finishesCard">
              <img src="./assets/images/polished.png" alt="Polished" />
              <div class="label"><h4>Polished</h4></div>
            </div>
            <div class="finishesCard">
              <img src="./assets/images/leather.png" alt="Leathered" />
              <div class="label"><h4>Leathered</h4></div>
            </div>
          </div>
        </div>
      </section>
      
      
</body>
</html>