<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="footer-bg">
    <div class="footer responsive-footer">
      <div class="diamondstone-logo">

        <img src="./assets/images/footer-diamondstone.png" alt="">
      </div>
      <div class="footer-col">
        <div class="footer-title">Quick links</div>
        <div class="footer-link">Home</div>
        <div class="footer-link faded">Marble & Collections</div>
        <div class="footer-link faded">House of Diamond Stone</div>
        <div class="footer-link faded">Projects & Showcase</div>
      </div>
      <div class="footer-col">
        <div class="footer-title">Address</div>
        <div class="footer-address"><span>Diamond stone trading and services </span><span> </span><span>SPC</span></div>
        <div class="footer-address">Po box 1280, Pc 111, Central post office, Muscat, Oman</div>
        <div class="footer-address">Office no 615, Tower 1, Tathmeer, Muscat hills, Oman</div>
        <div class="footer-title" style="margin-top:16px;">Contact</div>
        <div class="footer-contact">dst@diamondstonex.com</div>
      </div>
      <div class="footer-col">
        <div class="footer-title">Be the first to know</div>
        <div class="footer-desc">We’ll send you only what matters - no spam</div>
        <div class="footer-subscribe-row">
          <input class="footer-input" type="text" placeholder="Mobile / Email"  style="border: none;"/>
          <div class="footer-btn">
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<path d="M19.75 11.7266L4.75 11.7266" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.7012 5.70198L19.7512 11.726L13.7012 17.751" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></div>
        </div>
        <div class="footer-title" style="margin-top:16px;">Social media</div>
        <div class="footer-link faded">Instagram</div>
        <div class="footer-link faded">Whatsapp</div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-left">venture alliance © 2025 All rights reserved</div>
      <div class="footer-bottom-right">
        <span>Privacy policy</span>
        <span>Terms of service</span>
      </div>
    </div>
  </div>
</body>
</html>