<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/header.css"> -->
    <title>Document</title>
</head>
<body>
    <section class="header">
         <div class="container1">
            <div class="innerContainer">
                <p class="para">DIAMOND STONE TRADING AND SERVICES SPC</p>
                <p class="para-mobile">Address: Diamond stone trading and services spc po box 1280, Pc 111, Central post office, Muscat, Oman office no 615, Tower 1, Tathmeer, Muscat hills, Oman</p>
                

            </div>
           
         </div>
         <div class="container1">
            <div class="innerContainer1">
                <p class="para1">Working Hours : 7 AM to 6 PM</p>
            </div>
           
         </div>
         <div class="container1">
            <div class="innerContainer2">
                <p class="para2">Contact: +968 920 99 729</p>
            </div>
         </div>
         <div class="container1">
            <div class="innerContainer3">
                <p class="para3">Email : dst@diamondstonex.com</p>
            </div>
         </div>
    </section>
   
    
    
</body>
</html>