<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Diamond Stone Header</title>
  <link rel="stylesheet" href="header.css" />
</head>
<body>
  <header>
    <!-- Top Section -->
    <div class="top-wrapper">
       <div class="country-row">
  <div class="country-label">Choose country</div>
  <div class="country-select">
    <div class="country-flag-row">
      <div class="country-flag-bg">
        <div class="country-flag-bg-inner"></div>
        <div class="country-flag-imgs">
          <div class="country-flag-black"></div>
          <div class="country-flag-red"></div>
          <div class="country-flag-green"></div>
          <div class="country-flag-white1"></div>
          <div class="country-flag-white2"></div>
          <div class="country-flag-white3"></div>
          <div class="country-flag-white4"></div>
          <div class="country-flag-white5"></div>
          <div class="country-flag-white6"></div>
          <div class="country-flag-white7"></div>
          <div class="country-flag-white8"></div>
          <div class="country-flag-white9"></div>
          <div class="country-flag-white10"></div>
          <div class="country-flag-white11"></div>
          <div class="country-flag-white12"></div>
          <div class="country-flag-white13"></div>
          <div class="country-flag-white14"></div>
          <div class="country-flag-white15"></div>
          <div class="country-flag-white16"></div>
          <div class="country-flag-white17"></div>
          <div class="country-flag-white18"></div>
          <div class="country-flag-white19"></div>
          <div class="country-flag-white20"></div>
          <div class="country-flag-white21"></div>
          <div class="country-flag-white22"></div>
          <div class="country-flag-white23"></div>
          <div class="country-flag-white24"></div>
          <div class="country-flag-white25"></div>
          <div class="country-flag-white26"></div>
          <div class="country-flag-white27"></div>
          <div class="country-flag-white28"></div>
          <div class="country-flag-white29"></div>
          <div class="country-flag-white30"></div>
          <div class="country-flag-white31"></div>
          <div class="country-flag-white32"></div>
          <div class="country-flag-white33"></div>
          <div class="country-flag-white34"></div>
          <div class="country-flag-white35"></div>
          <div class="country-flag-white36"></div>
          <div class="country-flag-white37"></div>
          <div class="country-flag-white38"></div>
          <div class="country-flag-white39"></div>
          <div class="country-flag-white40"></div>
          <div class="country-flag-white41"></div>
          <div class="country-flag-white42"></div>
          <div class="country-flag-white43"></div>
          <div class="country-flag-white44"></div>
          <div class="country-flag-white45"></div>
          <div class="country-flag-white46"></div>
          <div class="country-flag-white47"></div>
          <div class="country-flag-white48"></div>
          <div class="country-flag-white49"></div>
          <div class="country-flag-white50"></div>
          <div class="country-flag-white51"></div>
          <div class="country-flag-white52"></div>
          <div class="country-flag-white53"></div>
          <div class="country-flag-white54"></div>
          <div class="country-flag-white55"></div>
          <div class="country-flag-white56"></div>
          <div class="country-flag-white57"></div>
          <div class="country-flag-white58"></div>
          <div class="country-flag-white59"></div>
          <div class="country-flag-white60"></div>
          <div class="country-flag-white61"></div>
          <div class="country-flag-white62"></div>
          <div class="country-flag-white63"></div>
          <div class="country-flag-white64"></div>
          <div class="country-flag-white65"></div>
          <div class="country-flag-white66"></div>
          <div class="country-flag-white67"></div>
          <div class="country-flag-white68"></div>
          <div class="country-flag-white69"></div>
          <div class="country-flag-white70"></div>
          <div class="country-flag-white71"></div>
          <div class="country-flag-white72"></div>
          <div class="country-flag-white73"></div>
          <div class="country-flag-white74"></div>
          <div class="country-flag-white75"></div>
          <div class="country-flag-white76"></div>
          <div class="country-flag-white77"></div>
          <div class="country-flag-white78"></div>
          <div class="country-flag-white79"></div>
          <div class="country-flag-white80"></div>
          <div class="country-flag-white81"></div>
          <div class="country-flag-white82"></div>
          <div class="country-flag-white83"></div>
          <div class="country-flag-white84"></div>
          <div class="country-flag-white85"></div>
          <div class="country-flag-white86"></div>
          <div class="country-flag-white87"></div>
          <div class="country-flag-white88"></div>
          <div class="country-flag-white89"></div>
          <div class="country-flag-white90"></div>
          <div class="country-flag-white91"></div>
          <div class="country-flag-white92"></div>
          <div class="country-flag-white93"></div>
          <div class="country-flag-white94"></div>
          <div class="country-flag-white95"></div>
          <div class="country-flag-white96"></div>
          <div class="country-flag-white97"></div>
          <div class="country-flag-white98"></div>
          <div class="country-flag-white99"></div>
        </div>
      </div>
      <div class="country-name">Oman</div>
    </div>
    <div class="country-arrow">
      <img src="./assets/images/Arrow - Down 2.png" alt="">
    </div>
  </div>
</div>
      <button class="continue-btn">Continue</button>
    </div>

    <!-- Middle Blue Info Bar -->
    <div class="info-bar">
     <div class="info-bar-item">
    <div><span class="info-bar-company"> Diamond stone trading and services</span><span class="info-bar-spacer"> </span><span class="info-bar-spc">spc</span></div>
  </div>
  <div class="info-bar-item">
    <div class="info-bar-hours">Working Hours : 7 AM to 6 PM</div>
  </div>
  <div class="info-bar-item">
    <div class="info-bar-contact">Contact: +968 920 99 729</div>
  </div>
  <div class="info-bar-item">
    <div class="info-bar-email">Email : dts@diamondstonex.com</div>
  </div>
    </div>

    <!-- Bottom Nav Section -->
<div class="nav-wrapper">
  <div class="logo">
    <img src="./assets/images/footer-diamondstone.png" alt="">
  </div>

  <div class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="nav-links">
    <div class="nav-link" data-href="collection-details.html">Marble & Collections</div>
    <div class="nav-link" data-href="aboutUs.html">House of Diamond Stone</div>
    <div class="nav-link" data-href="project-details.html">Projects & Showcase</div>
  </div>
</div>

  </header>
</body>
</html>
