<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <section class="certificate">
        <div class="certificateContainer">
            <div class="innerCertificate">
               <div class="qManagement">
                  <div class="qeoimage"><img src="./assets/images/ISO 9001 1 (1).png" alt=""></div>
                  <div class="qpara">
                    <p>Quality Management</p>
                  </div>
               </div>
               <div class="eManagement">
                <div class="qeoimage"><img src="./assets/images/—Pngtree—iso 14001 certified company logo_8540372 1 (1).png" alt=""></div>
                <div class="epara"><p>Environmental Management</p></div>
               </div>
               <div class="oh">
                <div class="qeoimage">
                    <img src="./assets/images/image 2.png" alt="">
                </div>
                <div class="ohpara">
                    <p>Occupational Health & Safety</p>
                </div>
               </div>
               
            </div>
            <div class="innerCertificate1">
                 <div class="lastCertificate">
                  <h2>Certifications</h2>
                 </div>
                 <div class="paraCertificate">
                       <p>For those who demand the finest, every slab of our marble comes with internationally accredited certifications.</p>
                 </div>
            </div>
        </div>



        <div class="project">
            <div class="projectContainer">
                 <div class="para_project">
                      <div class="projects">
                      <h2>Projects</h2>
                      </div>
                 </div>
                 <div class="card_project">
                    <div class="card_project1">
                       <div class="card_image">
                        <a href="project-details.html?id=1"><img src="./assets/images/1.png" alt=""></a>
                       </div>
                       <div class="card_para">
                        <div class="inner_card_para">
                          <div class="para_card">
                              <h4>Tanzania</h4>
                          </div>
                          <div class="text_card">
                             <p>Omani Pearl, Polished</p>
                          </div>
                        </div>
                        <div class="inner_card_para1">
                            <div class="para_card1">
                                <div class="locations"></div>
                                <div class="innerParaCard">
                                    <p>Tanzania</p>
                                </div>
                            </div>
                            <div class="text_card1">
                                <p>Completed: 2023</p>
                            </div>
                        </div>
                       </div>
                    </div>
                    <div class="card_project1">
                        <div class="card_image">
                            <a href="project-details.html?id=2"><img src="./assets/images/1 (1).png" alt=""></a>
                        </div>
                        <div class="card_para">

                            <div class="inner_card_para">
                                <div class="para_card">
                                    <h4>Qasr Al Hosn</h4>
                                </div>
                                <div class="text_card">
                                    <p>Omani Pearl, Polished</p>
                                </div>
                              </div>
                              <div class="inner_card_para1">
                                <div class="para_card2">
                                    <div class="locations"></div>
                                <div class="innerParaCard1">
                                    <p>Abu Dhabi</p>
                                </div>
                                </div>
                                <div class="text_card1">
                                    <p>Completed: 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card_project1">
                        <div class="card_image">
                            <a href="project-details.html?id=3"><img src="./assets/images/1 (2).png" alt=""></a>
                        </div>
                        <div class="card_para">

                            <div class="inner_card_para">
                                <div class="para_card">
                                    <h4>Founders Memorial</h4>
                                </div>
                                <div class="text_card">
                                    <p>Omani Pearl, Polished</p>
                                </div>
                              </div>
                              <div class="inner_card_para1">
                                <div class="para_card2">
                                    <div class="locations"></div>
                                <div class="innerParaCard1">
                                    <p>Abu Dhabi</p>
                                </div>
                                </div>
                                <div class="text_card1">
                                    <p>Completed: 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>


                     <div class="card_project1">
                        <div class="card_image">
                            <a href="project-details.html?id=4"><img src="./assets/images/projectimage4.jpg" alt=""></a>
                        </div>
                        <div class="card_para">

                            <div class="inner_card_para">
                                <div class="para_card">
                                    <h4>Founders Memorial</h4>
                                </div>
                                <div class="text_card">
                                    <p>Omani Pearl, Polished</p>
                                </div>
                              </div>
                              <div class="inner_card_para1">
                                <div class="para_card2">
                                    <div class="locations"></div>
                                <div class="innerParaCard1">
                                    <p>Abu Dhabi</p>
                                </div>
                                </div>
                                <div class="text_card1">
                                    <p>Completed: 2023</p>
                                </div>
                            </div>
                        </div>
                    </div> 


                  
                    
                 </div>
                 <div class="arrow_controls">
                    <button id="left-arrow" class="left-arrow"><i class="fas fa-chevron-left"></i></button>
                    <button id="right-arrow" class="right-arrow"><i class="fas fa-chevron-right"></i></button>
                  </div>
                  
            </div>
        </div>
     </section>
</body>
</html>