<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <section class="project">
            <div class="project-title">
                <p>Projects & Showcase</p>
            </div>

            <div class="project-container">
                <div class="project-container-inner">
                   <div class="project-container-card" style="background: rgba(0, 0, 0, 0.10); border-radius: 6px; backdrop-filter: blur(6px)">
                    <div class="blur-overlay"></div>

  <img src="./assets/images/1 (2).png" alt="Project Image">
<button class="left-arrow-btn">
  <img src="./assets/images/arrow left.png" alt="Left Arrow">
</button>
  <div class="project-content">
    <h2>Nyumba ya familia</h2>
    <p class="location">
     <p><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#cfcfcf" stroke-width="2" viewBox="0 0 24 24">
  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7z"/>
  <circle cx="12" cy="9" r="2.5"/>
</svg>
</span> Tanzania</p>
  
    </p>
    <p class="marbleName" style="margin-top: 10px;">Marble Name : <span>Imperial Beige</span></p>
    <p class="marbleName" style="margin-top: 10px;">Collection : <span>Sidrah</span></p>
  </div>
                   </div>

                   <div class="project-container-card1">
                    <div class="blogs-card-img-wrap1">
                         <img src="./assets/images/Frame8.png" alt="Project Image">
                         
                       <div class="blogs-card-img-gradient1"></div>
  </div>
                         <div class="project-content">
                      <h2>Qasr Al Hosn</h2>
                    <p><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#cfcfcf" stroke-width="2" viewBox="0 0 24 24">
  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7z"/>
  <circle cx="12" cy="9" r="2.5"/>
</svg></span> Abu Dhabi</p>
                    <p class="marbleName" style="margin-top: 10px;">Marble Name : <span>Imperial Beige</span></p>
    <p class="marbleName" style="margin-top: 10px;">Collection : <span>Sidrah</span></p>
  </div>
                   </div>

                   <div class="project-container-card2">
  <div class="blur-overlay"></div>

  <img src="./assets/images/resedentialApplication.png" alt="Project Image">
<button class="right-arrow-btn">
  <img src="./assets/images/Arrow - Right 2.jpg" alt="Right Arrow">
</button>
  <div class="project-content">
    <h2>Nyumba ya familia</h2>
    <p class="location">
     <p><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#cfcfcf" stroke-width="2" viewBox="0 0 24 24">
  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7z"/>
  <circle cx="12" cy="9" r="2.5"/>
</svg></span> Tanzania</p>
  
    </p>
    <p class="marbleName" style="margin-top: 10px;">Marble Name : <span>Imperial Beige</span></p>
    <p class="marbleName" style="margin-top: 10px;">Collection : <span>Sidrah</span></p>
  </div>
</div>
</div>

            </div>

            <div class="cursor-dot">
                <div class="dot1">

                </div>

                <div class="dot2">

                </div>

                  <div class="dot3">

                </div>
            </div>
       </section>
</body>
</html>