<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
     <section class="re_source">
     <div class="resource-main">
  <div class="resource-title">Resources</div>
  <div class="resource-list">
    <div class="resource-row">
      <div class="resource-info">
        <div class="resource-info-group">
          <div class="resource-info-title-group">
            <div class="resource-info-title">Marble Product Catalog</div>
          </div>
          <div class="resource-info-desc-group">
            <div class="resource-info-desc">Browse our full marble collection with specs, finishes, and application examples.</div>
          </div>
        </div>
        <div class="resource-download-btn">
          <div class="resource-download-text">Download</div>
        </div>
      </div>
      <div class="resource-image-box">
        <img class="resource-image" src="./assets/images/marbleimage.png" alt="Marble Product Catalog" />
      </div>
    </div>
    <div class="resource-row">
      <div class="resource-info">
        <div class="resource-info-group">
          <div class="resource-info-title-group">
            <div class="resource-info-title">Installation Guide</div>
          </div>
          <div class="resource-info-desc-group">
            <div class="resource-info-desc">Browse our full marble collection with specs, finishes, and application examples.</div>
          </div>
        </div>
        <div class="resource-download-btn">
          <div class="resource-download-text">Download</div>
        </div>
      </div>
      <div class="resource-image-box">
        <img class="resource-image" src="./assets/images/instalationguide.png" alt="Installation Guide" />
      </div>
    </div>
  </div>
</div>
     </section>
</body>
</html>