<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <section class="re_source">
        <div class="resource_card">
             <h2>Resources</h2>
        </div>

        <div class="resource_card1">
             <div class="resource_image_card">
                  <div class="res_image">
                       <div class="small_download">
                        <a href=""><img src="./assets/images/Downloads.png" alt=""></a>
                       </div>
                  </div>

                  <div class="res_content">
                    <div class="res_inner_content">
                         <div class="res_inner_content1">
                            <div class="marble_product">
                                 <p>Marble Product Catalog</p>
                            </div>
                            <div class="marble_para">
                                  <p>Browse our full marble collection with specs, finishes, and application examples.</p>
                            </div>
                         </div>
                         <div class="res_inner_content2">
                                   <p>PDF 2.0 MB</p>
                         </div>
                    </div>
                  </div>
             </div>
             <div class="resource_image_card">
                <div class="res_image">
                    <div class="small_download">
                          <a href=""><img src="./assets/images/Downloads.png" alt=""></a>
                    </div>
                </div>
                <div class="res_content">
                      <div class="res_inner_content">
                        <div class="res_inner_content1">
                           <div class="marble_product">
                                     <p>Installation Guide</p>
                           </div>
                           <div class="marble_para">
                                    <p>Browse our full marble collection with specs, finishes, and application examples.</p>
                           </div>
                        </div>
                        <div class="res_inner_content2">
                                  <p>PDF 2.0 MB</p>
                        </div>
                      </div>
                </div>
             </div>
        </div>
     </section>
</body>
</html>