<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sculpting Stone</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="css/slider.css"> -->
</head>
<body>
    <section class="slider">
       <div class="slider-content">
          <div class="slider-content-inner">
            <div class="slider-title">Sculpting Stone <br class="times"/>Into Timeless Confidence</div>
            <div class="slider-subtitle">We specialize in sourcing, processing, and supplying authentic Omani marble.</div>
          </div>
          <div class="slider-cta">
            <div class="slider-cta-text" id="explore-project-btn">Explore Project</div>
          </div>
        </div>
    </section>
</body>
</html>