<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/slider.css"> -->
    <title>Document</title>
</head>
<body>
    <section class="slider">
      
           <div class="sliderContainer">
             <div class="sliderCon">
               <div class="sentence">
                   <h1><span class="first-line">Sculpting Stone</span>
                    <span class="second-line">Into Timeless Confidence</span></h1>
               </div>
               <div class="sentence1">
                      <p>We specialize in sourcing, processing, and supplying authentic Omani marble.</p>
               </div>
             </div>
             <button class="btn1">
                <div class="explorebtn">
                    <p>Explore Our Collection</p>
                </div>
             </button>
           </div>
           <div class="download">
              <div class="image">

              </div>
              <div class="dnld">
                 <div class="innerDnld">
                    <div class="innerDnld1">
                       <h4>Download our catalog</h4>
                    </div>
                    <div class="icons">
                       <div class="icons1">

                       </div>
                       <div class="thePara">
                          <p>PDF 2.0 MB</p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
    </section>
</body>
</html>