<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>
     <section class="whyChooseUs">
              <div class="containerChoose">
                   <div class="innerChoose">
                      <div class="lastContainer">
                          <div class="paraContainer">
                                 <p>Why Choose <span>Diamond Stone ?</span></p>
                          </div>
                          <div class="paraContainer1">
                                   <p>At Diamond Stone, we believe that great design begins with authenticity and endures through excellence. Every slab, finish, and project reflects our dedication to timeless craftsmanship, precision, and partnership</p>
                          </div>
                      </div>
                      <div class="lastContainer1">
                           <div class="imageContainer">

                           </div>
                      </div>
                   </div>

                   <div class="innerChoose1">
                          <div class="timeLess">
                              <div class="innerTimeLess">
                                <div class="innerTimeLess1">
                                     <p>Timeless Craftsmanship</p>
                                </div>
                                <div class="innerTimeLess2">
                                   <p>Our stones are more than materials - they’re heirlooms of the earth, shaped with care to stand the test of time.</p>
                                </div>
                              </div>

                              <div class="number">
                                  <p>01</p>
                              </div>
                          </div>
                          <div class="timeLess">
                            <div class="innerTimeLess">
                                <div class="innerTimeLess1">
                                       <p>Built on Trust & Collaboration</p>
                                </div>
                                <div class="innerTimeLess2">
                                     <p>We work side-by-side with architects, designers, and visionaries - turning shared ideas into lasting architectural statements.</p>
                                </div>
                              </div>

                              <div class="number">
                                     <p>02</p>
                              </div>
                          </div>
                          <div class="timeLess">
                            <div class="innerTimeLess">
                                <div class="innerTimeLess1">
                                       <p>Uncompromising Quality</p>
                                </div>
                                <div class="innerTimeLess2">
                                    <p>From raw block to refined surface, we follow rigorous processes to deliver marble that meets the highest global standards.</p>
                                </div>
                              </div>

                              <div class="number">
                                   <p>03</p>
                              </div>
                          </div>
                          <div class="timeLess" style="background-color: rgba(2, 125, 106, 1);">
                            <div class="innerTimeLess">
                                <div class="innerTimeLess1">
                                        <p style="color: rgba(255, 255, 255, 1);">Sustainable by Design</p>
                                </div>
                                <div class="innerTimeLess2">
                                          <p style="color: rgba(255, 255, 255, 1);">With ethical sourcing and environmentally conscious practices, we ensure our legacy is as clean as it is beautiful.</p>
                                </div>
                              </div>

                              <div class="number">
                                      <p style="color: rgba(255, 255, 255, 1);">04</p>
                              </div>
                          </div>
                   </div>
              </div>
     </section>
     
      
</body>
</html>