<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

</head>
<body>
    <section class="whyChooseUs">
            <div class="containerChoose">
               <div class="innerChoose">
                     <div class="paraContainer">
                             <p>Why Choose Diamond Stone ?</p>
                     </div>
                     <div class="paraContainer1">
                          <p>At Diamond Stone, we believe that great design begins with authenticity and endures through excellence. Every slab, finish, and project reflects our dedication to timeless craftsmanship, precision, and partnership</p>
                     </div>
               </div>

               <div class="innerChoose1">
                      <div class="innerChooseCard">
                            <div class="number">
                                  <p>01</p>
                            </div>

                            <div class="innerChooseCard1">
                                <div class="timeless">
                                      <p>Timeless Craftsmanship</p>
                                </div>

                                <div class="timeLess1">
                                     <p>Our stones are more than materials - they’re heirlooms of the earth, shaped with care to stand the test of time.</p>
                                </div>
                            </div>
                      </div>
                      <div class="innerChooseCard">
                        <div class="number">
                          <p>02</p>
                        </div>

                        <div class="innerChooseCards1">
                          <div class="timelesss1">
                              <p>Built on Trust & Collaboration</p>
                          </div>

                          <div class="timeLesss1">
                             <p>We work side-by-side with architects, designers, and visionaries - turning shared ideas into lasting architectural statements.</p>
                          </div>
                        </div>
                      </div>
                      <div class="innerChooseCard">
                        <div class="number">
                          <p>03</p>
                        </div>

                        <div class="innerChooseCard1">
                          <div class="timeless">
                               <p>Uncompromising Quality</p>
                          </div>

                          <div class="timeLess1">
                               <p>From raw block to refined surface, we follow rigorous processes to deliver marble that meets the highest global standards.</p>
                          </div>
                        </div>
                      </div>
                      <div class="innerChooseCards">
                        <div class="number1">
                          <p>04</p>
                        </div>

                        <div class="innerChooseCard1">
                          <div class="timeless-card">
                               <p>Sustainable by Design</p>
                          </div>

                          <div class="timeLess1-card">
                                 <p>With ethical sourcing and environmentally conscious practices, we ensure our legacy is as clean as it is beautiful.</p>
                          </div>
                        </div>
                      </div>
               </div>
            </div>
    </section>
      
</body>
</html> 